$header-height: 72px;
$boxed-width: 1094px;
$lg-desktop-max-width: 1670px;
$desktop-max-width: 1240px;
$sidenav-width: 300px;
$dark-blue: rgb(11, 12, 34);

$input-height: 40px;
$button-height: 40px;
$standard-height: 40px;
$header-height: 60px;

$divider-color: rgba(0, 0, 0, 0.12);
$vertical-divider-color: rgba(0, 0, 0, 0.4);
$active-blue: #1292ee;
$default-bg-color: #f9fafa;
$blue-bg: #edf0f5;
$accent-blue: rgb(56, 116, 203);
$user-icon: rgb(76, 46, 162);
$sidenav-width-mobile: 275px;
